<div class="layer-control">
    <Label style="float:left" class="layer-control-label">{{label}}</Label>
    <input class="textbox-field" type="text" name="text-box" value={{initialValue}}>
    <button class="textbox-button">
        <i class="fa fa-check"></i>
    </button>
</div>
